/*** CSS Styles  ***/

/** Fonts **/

/* Voyage  */
@font-face {
	font-family: "Voyage";
	font-display: swap;
	src: url("/css/fonts/Voyage-Regular.ttf");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Voyage";
	font-display: swap;
	src: url("/css/fonts/Voyage-Bold.ttf");
	font-style: normal;
	font-weight: 400;
}

/* HK Grotesk Family */
@font-face {
	font-family: "HK Grotesk";
	font-display: swap;
	src: url("/css/fonts/HKGrotesk-Light.otf");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "HK Grotesk";
	font-display: swap;
	src: url("/css/fonts/HKGrotesk-Regular.otf");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "HK Grotesk";
	font-display: swap;
	src: url("/css/fonts/HKGrotesk-Medium.otf");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "HK Grotesk";
	font-display: swap;
	src: url("/css/fonts/HKGrotesk-SemiBold.otf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "HK Grotesk";
	font-display: swap;
	src: url("/css/fonts/HKGrotesk-Bold.otf");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "HK Grotesk";
	font-display: swap;
	src: url("/css/fonts/HKGrotesk-Black.otf");
	font-style: normal;
	font-weight: 600;
}

/*Mazius*/
@font-face {
	font-family: "Mazius";
	font-display: swap;
	src: url("/css/fonts/Mazius\ Display\ Italic.otf");
	font-style: normal;
}


/** General **/
html {
	width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: #F5F5F5;
	width: 100%;
	margin: 0;
	font-family: "HK Grotesk", sans-serif;
	font-weight: 100;
	color: #2F322D;
	overflow: hidden;
	cursor: none;
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100vw;
}

a {
	cursor: none;
}

.cursor {
	z-index: 0;
	width: 2rem;
	height: 2rem;
	border: 1px solid #2F322D;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
}

.cursor-light {
	border: 1px solid #f5f5f5 !important;
	z-index: 3;
	mix-blend-mode: normal;
}

.grow {
	transform: scale(2);
	background-color: #2F322D;
}

.grow-bigger {
	transform: scale(6);
	background-color: #2F322D;
}

* {
	box-sizing: border-box;
}

h2 {
	font-family: "Voyage", sans-serif;
	font-weight: 200;
	font-size: 2.5em;
	color: #2F322D
}

h3 {
	font-family: "HK Grotesk", sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 16px;
	color: #2F322D
}

h6 {
	font-family: "HK Grotesk", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #2F322D;
	text-transform: uppercase;
	margin: 0;
}


.layout-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bold {
	font-family: 'Mazius';
}

/** Navigation **/
.navigation-bar {
	mix-blend-mode: difference;
	position: fixed;
	z-index: 3;
	margin: auto;
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

.logo {
	position: fixed;
	font-family: "Voyage", sans-serif;
	font-weight: 200;
	font-size: 2rem;
	margin: 0;

}

.logo a {
	text-decoration: none;
	color: #C6C3C8;
}

.logo,
.navbar-items {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
}

.logo-bold {
	font-weight: 400;
}


.navbar-items-wrapper li a {
	font-family: 'HK Grotesk', sans-serif;
	font-size: 1.05em;
	color: #c6c3c8;
	text-align: center;
	font-size: 20px;
	padding: 12px 24px;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-items-wrapper {
	float: right;
	padding-right: 1%;
}

.burger-icon {
	display: none;
}

/** Home Section **/
.title-wrap {
	height: 100vh;
}

#home-section {
	mix-blend-mode: difference;
	z-index: 3;
}

.name-title {
	font-family: "Voyage", sans-serif;
	font-size: 16vw;
	line-height: 80%;
	font-weight: 200;
	margin: 0;
	color: #c6c3c8;
}

#first-name-title {
	position: relative;
	left: -18vw;
}

#last-name-title {
	position: relative;
	left: 8vw;
}

#student-title-wrapper {
	width: 240px;
	position: absolute;
	top: 40vh;
	left: 60vw;
	mix-blend-mode: difference;
}

#student-title,
#freelance-title {
	color: #c6c3c8
}

#freelance-title-wrapper {
	width: 240px;
	position: absolute;
	top: 60vh;
	left: 10vw;
	mix-blend-mode: difference;

}

.icon-wrapper {
	position: relative;
	top: -15vh;
}

#arrow-down {
	animation: floater 3s infinite ease;
	height: 70px;
}

@keyframes floater {
	0% {
		transform: translateY(3vh);
	}

	50% {
		transform: translateY(0)
	}

	100% {
		transform: translateY(3vh);
	}
}

/** About Section **/
#about-section {
	background-color: #F5F5F5;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
	justify-content: center;
	position: relative;
	align-items: center;
}



.paragraph-wrapper {
	width: 40vw;
	font-size: 18px;
	text-align: center;

}

.paragraph-wrapper p {
	margin: 0;
	mix-blend-mode: difference;
	color: #c6c3c8;
}

.title-wrapper {
	mix-blend-mode: difference;
	margin-top: 50vh;
}

#about-title {
	position: relative;
	font-size: 13vw;
	line-height: 0%;
	color: #c6c3c8;
}

.about-wrapper {
	width: 100vw;
}

.about-img-wrapper {
	z-index: -1;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	position: relative;
	top: 100vh;
}

.about-img {
	width: 30vw;
	z-index: -1;
	position: relative;
}

#portrait-1 {
	position: relative;
	margin-right: 10vw;
}

#portrait-2 {
	position: relative;
	top: 200vh;
	margin-left: 10vw;
}


/** Feature Project Section **/
#feature-section-title {
	height: 100vh;
	overflow: hidden;
	mix-blend-mode: difference;
	z-index: 2;

}

#feature-title {
	font-size: 13vw;
	line-height: 0%;
	color: #2F322D;
}

#feature_project-section {
	height: 100vh;
	align-items: center;
	margin: 0 10vw;
}

#feature-project-title {
	font-weight: 400;
	font-size: 32px;
	margin-top: 25vh;
}


#feature-project-section {
	height: 100vh;
	position: relative;
	z-index: -1;
}

.feature-content-wrapper {
	margin-top: 10vh;
	width: 80vw;
	height: 40vh
}

.feature-project-text-wrapper {
	align-items: flex-start;
	justify-content: space-between;
	margin-left: 5vw;
	width: 45vw;
	height: 40vh;
}

#roomee-desktop-mockup {
	width: 30vw;
	position: relative;
}

#roomee-mobile-img-wrapper {
	position: relative;
	z-index: -1;
	top: -55vh;
	margin-bottom: -55vh;
}

#roomee-mobile-mockup {
	width: 8vw;
	position: relative;
	top: 0vh;
	left: 35vw;
	animation: floater 3s infinite ease;
}

.two-cols-layout {
	display: flex;
	flex-direction: row;
}


.feature-project-description-title {
	margin-left: 3vw;
	width: 10vw;
	align-items: flex-start;
}

.feature-project-description-text {
	width: 25vw;
}

.feature-project-description-text p {
	text-transform: uppercase;
	font-size: 12px;
	margin: 0;
	line-height: 150%;
}

/** Projects Section **/

#project-title-wrapper {
	height: 100vh;
	width: 100vw;
}

#project-title {
	font-size: 13vw;
	line-height: 0%;
}

#project-1-section,
#project-2-section,
#project-3-section {
	/* height: 100vh; */
	justify-content: center;
	margin-top: 0;
}

.project-content-wrapper {
	/* margin-top: 10vh; */
	width: 80vw;
	height: 60vh;
	align-items: center;
	justify-content: center;
}

.mockup-mobile-1,
.mockup-mobile-2,
.mockup-mobile-3 {
	height: 40vh;
	z-index: -1;
}

/* 
#alix-mockup {
	width: 24vw;
} */


.mockup-mobile-1-wrapper,
.mockup-mobile-3-wrapper {
	position: relative;
	height: 40vh;
	display: flex;
	align-items: center;
}

.mockup-mobile-2-wrapper {
	height: 40vh;
	display: flex;
	align-items: center;
	margin-right: 5vw;
	margin-left: 5vw;
	position: relative;
}

.project-text-wrapper {
	align-items: flex-start;
	justify-content: space-between;
	margin-left: 5vw;
	width: 45vw;
	height: 30vh;
}

.project-title {
	font-family: 'Mazius';
	font-size: 44px;
	margin-left: 3vw;
}

.right {
	margin-left: 0;

}




#project-1-text-wrapper,
#project-2-text-wrapper,
#project-3-text-wrapper {
	position: relative;
}

/*Contact Section*/

#contact-section {
	height: 100vh;
	overflow: hidden;
	color: #f5f5f5;
	position: sticky;
}

#contact-title-wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: baseline;
}

#contact-title {
	font-family: "Voyage", sans-serif;
	font-weight: 200;
	font-size: 13vw;
	margin: auto 0;
	color: #f5f5f5;
	text-align: center;
	text-decoration: none;
	position: relative;
	/* margin-bottom: 30vh; */
}

#contact-title:hover,
#contact-title:focus,
#contact-title:active {
	text-decoration: none;
}

#contact-title::after {
	content: "";
	position: absolute;
}


#contact-title-wrapper #contact-title::after {
	top: 100%;
	height: 2px;
	width: 0%;
	left: 0%;
	background-color: #f5f5f5;
	transition: 0.5s ease all .1s;
}


#contact-title-wrapper:hover #contact-title::after {
	width: 95%;
	transition: 0.3s ease all;
}


#contact-section p {
	text-transform: uppercase;
	margin-bottom: 5vh;
}

#link-arrow {
	margin-bottom: 5vh;
}

.contact-toggle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copy-button-visible {
	opacity: 1;
	color: #f5f5f5;
	border: 1px solid #f5f5f5;
	text-transform: uppercase;
	border-radius: 60px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	margin: 4px 2px;
	margin-top: 7vh;
}

.copy-button-invisible {
	opacity: 0;
	color: #f5f5f5;
	border: 1px solid #f5f5f5;
	text-transform: uppercase;
	border-radius: 60px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	margin: 4px 2px;
	margin-top: 7vh;
}

.copy-button-visible:hover,
.copy-button-clicked {
	background-color: #f5f5f5;
	color: #2F322D;
}

.copy-button-clicked {
	opacity: 1;
	background-color: #f5f5f5;
	color: #2F322D;
	text-transform: uppercase;
	border-radius: 60px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	margin: 4px 2px;
	margin-top: 7vh;
}

.socials-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 15vh;
}

.socials-icon {
	margin: auto 1vw;

}

#copyright {
	position: absolute;
	bottom: 0;
}



@media screen and (max-width: 1024px) {

	body {
		overflow: hidden;
	}

	.navigation-bar li.navbar-items {
		display: none;
	}

	.navigation-bar li.burger-icon {
		display: inline-block;
		position: absolute;
		right: 5vw;
		top: 16px;
		color: #2F322D;
		mix-blend-mode: normal;
	}

	.navigation-bar.responsive {
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 1;
		mix-blend-mode: normal;
		background-color: #2F322D;
		transition: background-color 0.6s;
	}

	#burger {
		color: #f5f5f5;
		text-decoration: none;
		font-size: 28px;
	}

	.navigation-bar.responsive li.logo {
		display: block;
	}

	.navigation-bar.responsive .navbar-items-wrapper {
		float: none;
		padding-right: 0;
	}

	.navigation-bar.responsive li.navbar-items {
		display: block;
		padding: 50px;
		font-size: 25px;
	}

	.navigation-bar.responsive li.navbar-items a {
		display: block;
		text-align: center;
	}

	.navigation-bar.responsive li.navbar-items a:hover {
		color: #17171e;
		border-bottom-color: transparent;
	}

	#freelance-title-wrapper {
		transform: translateX(-30px);

	}

	#freelance-title,
	#student-title {
		font-size: 14px;
	}


	.paragraph-wrapper {
		font-size: 14px;
	}

	.feature-content-wrapper {
		/* flex-direction: column; */
		align-items: center;
		justify-content: center;
		width: 90vw;
	}

	.feature-project-img-wrapper {
		padding-bottom: 240px;
	}

	#roomee-desktop-mockup {
		width: 40vw;
	}

	.feature-project-text-wrapper {
		transform: translateY(-140px);
		align-items: flex-start;
		width: 70vw;
		margin-left: 5vw;
	}

	.feature-project-description-text {
		width: 45vw;
	}

	.feature-project-description-title {
		margin: 0;
		padding-bottom: 8px;
	}

	.project-title {
		margin-left: 0;
	}

	.feature-project-description {
		margin-top: 12px;
		margin-bottom: 12px;
		flex-direction: column;
		/* align-items: center; */
		justify-content: center;
	}

	#roomee-mobile-img-wrapper {
		position: relative;
		top: -440px;
		left: 20px;
	}

	#project-2-section {
		justify-content: center;
	}

	.project-content-wrapper {
		align-items: flex-start;
	}

	#project-3-section {
		margin-top: 100px;
	}

	#link-arrow {
		width: 52px;
	}

}


@media screen and (max-width: 768px) {
	#student-title-wrapper {
		/* position: absolute;
		top: 70vh;
		left: 60vw; */
		width: 80vw;
		position: relative;
		top: 0;
		left: 0;
		margin-top: 3vh;

	}

	#student-title,
	#freelance-title {
		font-size: 12px;
		text-align: center;
	}

	#freelance-title-wrapper {
		position: relative;
		top: 0;
		left: 0;
		/* top: 70vh; */
		width: 80vw;
		transform: translateX(0);
		margin-top: 3vh;

	}

	.functions {
		width: 100vw;
		position: absolute;
		top: 60vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.name-title {
		transform: translateY(-18vh);
		font-size: 20vw;
	}

	#first-name-title {
		left: 0;
	}

	#last-name-title {
		left: 0;
	}

	.paragraph-wrapper {
		width: 70vw;
		font-size: 12px;
	}

	.title-wrapper {
		/* margin: 0; */
	}

	.about-img {
		width: 50vw;
	}

	#portrait-1 {
		transform: translateX(20vw);
	}

	#portrait-2 {
		transform: translateX(-20vw);
	}

	.feature-content-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.feature-project-img-wrapper {
		width: 68vw;
	}

	#roomee-desktop-mockup {
		width: 68vw;
	}

	#roomee-mobile-img-wrapper {
		position: relative;
		top: -92vh;
		left: 36vw;

	}

	#roomee-mobile-mockup {
		width: 18vw;
	}

	.feature-project-text-wrapper {
		justify-content: center;
		align-items: center;
		margin-left: 0;

	}

	.feature-project-description {
		width: 80vw;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.feature-project-description-title h6 {
		text-align: center;
		margin-bottom: 0;
		font-size: 12px;
	}

	.feature-project-description-text {
		width: 80vw;
	}

	.feature-project-description-text p {
		font-size: 10px;
	}

	#project-1-section,
	#project-2-section,
	#project-3-section {
		height: 100vh;
	}

	#project-2-section div.project-content-wrapper {
		flex-direction: column-reverse;
	}

	.project-content-wrapper {
		flex-direction: column;
		align-items: center;
	}

	#project-1-text-wrapper,
	#project-2-text-wrapper,
	#project-3-text-wrapper {
		margin-left: 0;
		align-items: center;
		text-align: center;
		width: 80vw;
		margin-top: 20px;
	}

	#link-arrow {
		width: 40px;
	}

}